div.scroll-resp {
    background-color: #eae9e9;
    width: 270px;
    height: 50px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    padding: 20px;
    margin-top: 12px;
}

.name-input {
    height: 20px;
    width: 320px;
}

.description-area {
    resize: none;
    height: 80px;
    width: 320px;
    overflow: 'auto'; 
}

.responsible-container {
    position: relative;
    border: 1px solid #aaa;
    margin-bottom: 12px;
    padding: 12px;
    width: 300px;
    height: 100px;
    overflow: auto;
    background-color: white;
}

.clipping-container {
    position: relative;
    border: 1px solid #aaa;
    margin-bottom: 12px;
    padding: 12px;
    width: 400px;
    overflow: hidden;
    background-color: white;
    border-radius: 12px;
}

.pending-stage {
    background-color: rgba(0, 174, 255, 0.748);
}

.bg{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: rgba(179, 179, 179, 0.4);
    backdrop-filter: blur(2px);
}

.modal {
    display: flex;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
    background-color: white;
    border: 2px solid rgb(240, 240, 240);
    border-radius: 12px;
    position: absolute;
    width: 500px;
    height: 400px;
    top: 130px;
    left: calc(50% - 250px);
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.stage-modal {
    display: flex;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
    background-color: white;
    border: 2px solid rgb(240, 240, 240);
    border-radius: 12px;
    position: absolute;
    width: 400px;
    height: 730px;
    top: 50px;
    left: calc(50% - 250px);
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.error {
    color: red;
}