.show{
    display: block;
    transition: 800ms;
    opacity: 1;
}

.show.active {
    transform: translateY(100px) scale(0) rotateY(180deg);
    opacity: 0;
}

/* App.css */

/* Navbar styles */
.navbar-container {
    background-color: #f1f1f1;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.navbar-brand {
    color: #333;
    text-decoration: none;
    padding: 10px;
}

.navbar-login {
    display: flex;
    align-items: center;
}

.navbar-login button {
    background-color: transparent;
    border: none;
    color: #333;
    font-weight: bold;
    cursor: pointer;
}

/* Popup styles */
.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.close-button {
    background-color: transparent;
    border: none;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.swap-button {
    background-color: transparent;
    border: none;
    color: #333;
    text-decoration: underline;
    font-size: 14px;
    cursor: pointer;
}

/* Additional styles */
/* Add any additional CSS styles you may have */
