/* Navbar styles */
.navbar-container {
    background-color: #f1f1f1;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Added align-items */
}

.navbar-brand {
    color: #333;
    text-decoration: none;
    padding: 10px;
    margin-right: 10px;
    font-weight: bold; /* Added font-weight */
    transition: color 0.3s ease; /* Added transition for smooth effect */
}

.navbar-brand:hover {
    color: #555; /* Change the color on hover */
}

.navbar-login {
    display: flex;
    align-items: center;
}

.navbar-login-right {
    margin-left: auto;
}

.navbar-login button {
    background-color: transparent;
    border: none;
    color: #333;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease; /* Added transition for smooth effect */
}

.navbar-login button:hover {
    color: #555; /* Change the color on hover */
}

.navbar-profile {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

/* Popup styles */
.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.close-button {
    background-color: transparent;
    border: none;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    transition: color 0.3s ease; /* Added transition for smooth effect */
}

.close-button:hover {
    color: #555; /* Change the color on hover */
}

.swap-button {
    background-color: transparent;
    border: none;
    color: #333;
    text-decoration: underline;
    font-size: 14px;
    cursor: pointer;
    transition: color 0.3s ease; /* Added transition for smooth effect */
}

.swap-button:hover {
    color: #555; /* Change the color on hover */
}
